*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --b1_green: #4E9F0D;
    --rgb: #4E9F0D;
    --fw_100: 100;
    --fw_300: 300;
    --fw_400: 400;
    --fw_700: 700;
    --fw_900: 900;
    --col-1: calc(100% / 12 * 1);
    --col-2: calc(100% / 12 * 2);
    --col-3: calc(100% / 12 * 3);
    --col-4: calc(100% / 12 * 4);
    --col-5: calc(100% / 12 * 5);
    --col-6: calc(100% / 12 * 6);
    --col-7: calc(100% / 12 * 7);
    --col-8: calc(100% / 12 * 8);
    --col-9: calc(100% / 12 * 9);
    --col-10: calc(100% / 12 * 10);
    --col-11: calc(100% / 12 * 11);
    --col-12: calc(100% / 12 * 12);
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
}
header{
    background-image: url(./bg_img\ 1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
}
header nav {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    height: 80px;
} 
header nav ul{
    display: flex;
    justify-content: space-around;
    width: 464px;
    margin: 0 0px 0 400px;
}
.container{
    /* border: 1px solid yellow; */
    margin: auto;
    width: 1200px;
    height: auto;
}
.logo{
    color: white;
    background: #4E9F0D;
    margin: 28px;
    padding: 3px 30px 5px 30px;
    border-radius: 3px;
}
.rows{
    padding-bottom: 200px;
    width: 100%;
    /* border: 1px solid red; */
}
.rows h1{
    color: #4E9F0D;
    margin-top: 180px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 85px;
    text-transform: uppercase;
    padding: 0 0 0 25px;
}
.rows p:nth-of-type( 1 ){
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: lowercase;
    color: #4E9F0D;
    padding: 0 0 0 25px;
    margin: 20px 0 0 0;
}
.rows p:nth-of-type( 2 ){
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 0 0 0 25px;
    margin: 30px 0 0 0;
}
header nav ul li a{
    color: #4E9F0D;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}
header nav ul li{
    margin-top: 28px;
}
header nav ul li a:hover{
    color: white;
    padding: 33px 16px 32px 5px;
    background-color: #4E9F0D;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
}
header nav ul li span {
    border-radius: 50px;
    margin: 0 0 0 15px;
    padding: 1px 6px 1px 6px;
    background-color: white;
    color: #4E9F0D;
}
.price{
    height: 100px;
    width: 350px;
    left: 135px;
    top: 533px;
    border-radius: 0px;
    background-color: #4E9F0D;
    color: white;
    padding: 17px 83px 16px 84px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    font-size: 60px;
    line-height: 70px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 52px 0 0 25px;
}
section{
    background: #000000;
}
section .row ul{
    display: flex;
}
section .row ul li{
    margin-top: 47px;
    /* border: 1px solid red; */
    padding: 0 0 0 25px;
}
section .cont .row ul li{
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #7A7A7A;
}
.active{
    color: #4E9F0D;
}

.cont{
    /* border: 1px solid yellow; */
    margin: auto;
    width: 1200px;
    height: auto;
}
.conta{
    width: 350px;
    height: 498px;
    /* border: 1px solid red; */
}
.umum{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 1150px;
    /* border: 1px solid yellow; */
    height: 498px;
    margin-top: 74px;
}
.umumi{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 1150px;
    /* border: 1px solid yellow; */
    height: 498px;
    margin-top: 39px;
}
.rasm{
    width: 350px;
    height: 350px;
}
.rasm img{
    width: 350px;
    height: 350px;
}
.conta p:nth-of-type( 1 ){
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #4E9F0D;
    margin-top: 36px;
}
.conta p:nth-of-type( 2 ){
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 7px;
}
.rom{
    width: 350px;
    height: 350px;
    background-image: url(./gamburger\ rasmi.png);
}
.pric{
    height: 60px;
    width: 190px;
    left: 545px;
    top: 1205px;
    border-radius: 0px;
    background-color: #4E9F0D;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 17px 57px 17px 58px;
    margin: 271px 0 0 0;
}
main{
    background-image: url(./main.bg.png);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
}
.suz{
    padding: 42px 0 0 0;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #4E9F0D;
}
.suz img{
    margin-top: 14px;
}
.suz p:nth-of-type( 2 ){
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 46px;
    text-align: center;
}
.suz p:nth-of-type( 3 ){
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 25px;
    padding-bottom: 53px;
}
footer{
    background: #000000;
}
.joy{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #4E9F0D;
    text-align: center;
    padding-top: 44px;
}
.joy img{
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 502px;
    width: 100%;
    left: 0px;
    top: 132px;
    border-radius: 0px;
    margin-top: 46px;
}
.soz .log{
    color: white;
    background: #4E9F0D;
    margin: 0 0 0 0;
    padding: 3px 30px 5px 50px;
    border-radius: 3px;
    height: 30px;
    width: 160px;
    left: 136px;
    top: 678px;
    border-radius: 3px;
}
.contan{
    margin: auto;
    width: 1200px;
    height: auto;
}
.pre{
    /* border: 1px solid red; */
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
} 
.pre p{
    font-family: 'Raleway';
    font-style: normal;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #4E9F0D;
}
.coc{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 770px;
    margin-top: 52px;
}
.coc p{
    color: white;
}
.suv{
    text-align: center;
    margin-top: 34px;
    padding-bottom: 47px;
}
.suv p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #FFFFFF;
}